{% extends "layout.html" %}
{% set activePage = "home"%}

{% block title %} Home {% endblock %}
 
    
    <!--page content-->
{% block content %}
    <h1>County Crime research project</h1>
<p> I find the crime county dataset very interesting.  There is some problems with the reporting of the crime rates and all of that.  For instance detectives will often assume certain things, and condemn the wrong suspect just to say that the case was solved.  Also the number of crimes is skewed because lots of crimes aren’t reported.  This could be because the victim didn’t report it, or the police didn’t report it.  Fortunately there are surveys that have been run through many different areas, asking if there has been a crime in the area.  These surveys are a more accurate form of determining the crime rate then just police reports. 
</p>
<p><a href="https://saylordotorg.github.io/text_social-problems-continuity-and-change/s11-01-the-problem-of-crime.html 
">Link</a></p>
<p><a href="https://www.tutor2u.net/psychology/reference/defining-crime ">Link</a></p>

{% endblock%}    
